<center><form class="new-merchant" action="/repositories" method="post">
  <input class="entername" type="text" name="repo_name" placeholder="Name Required">
  <br>
  <input class="createbutton" type="submit" value="Create Repository">
  <br>
  <a class="cancel" href="/repositories">Cancel</a>
</form></center>
