<%= form_for @repository do |f| %>
      <section>
        <h2>Name:</h2>
        <h3><%= f.text_field :name%></h3>
      </section>
      <h3><%=f.submit class: 'add-button' %></h3>
    <% end %>
  </article>
