a {
  text-decoration: none;
  padding: 10px;
}
.repo_name a{
  padding: 10px;
  color: dimgray;
}
.repo_name {
  padding: 10px;
  color: dimgray;
}

.propic {
  padding: 10px;
  border-radius: 50px;
}

.propic img {
  border-radius: 35px;

}

h1 {
  padding: 10px;
  color: chocolate;
}


.navbar {
  display: flex;
  width: 100%;
  background: dimgray;
  justify-content: space-evenly;
}

body {
  background: antiquewhite;
}

center h1 {
  padding: 200px;
  text-shadow: 10px;
}

.navbar h3 a {
  color: antiquewhite;
  font-size: larger;
}

.followers {
  border: solid black;
  display: flex;
  flex-direction: inherit;
  margin-bottom: 10px;
}


.entername {
  font-size: inherit;
  height: 40px;
  text-align: center;
  margin-top: 30px;
  width: 20%;
  border-radius: 20px;
}
.createbutton {
  font-size: larger;
  text-align: center;
  margin-top: 30px;
  width: 20%;
  background: cadetblue;
}
